body{

    background-color: #ffffff;
    
}

#formRegistration{
    padding: 15px;
    margin: 15px auto;
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 15px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1); 
}

#jobResults{
    margin: 0 auto;
    width: 80%;
    padding: 100px;
}